.js-answer-correct{
  display: none;
  background-color: #FFF2F5;
  width: 984px;
height: 142px;
margin-left: 228px;
margin-top: 16px;
border-radius: 8px;
}
.js-answer-wrong{
  display: none;
  background-color: #EFF2F5;
  width: 984px;
height: 142px;
margin-left: 228px;
margin-top: 16px;
border-radius: 8px;
}
.js-display{
  display: block;
}
.js-selected{
  border-color: #0071BC;
  background-color: #EFF2F5;
}

.js-answer-correct h3{
  font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
letter-spacing: 0.05em;
color: #E34E70;
width: 75px;
height: 36px;
left: 40px;
top: 24px;
padding-top: 24px;
margin-left: 40px;
}
.js-answer-wrong h3{
  font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
letter-spacing: 0.05em;
color: #0071BC;
width: 100px;
height: 36px;
left: 40px;
top: 24px;
margin-left: 40px;
padding-top: 24px;
}
.answer-text{
  display: flex;
  justify-content: left;
  margin-top: 16px;
}
.js-answer-a{
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 180%;
color: #333333;
width: 18px;
height: 43px;
left: 40px;
top: 76px;
margin-left: 45px;
margin-right: 16px;
}
.js-correct-answer{
  width: 200px;
height: 32px;
left: 74px;
top: 83px;
font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 180%;
color: #333333;
margin-top: 6px;
}