

.main{
  width: 100%;
  height: 680px;
  position: relative;
  z-index: 50;
}
.header{
  z-index: 100;
  width: 100vw;
  position: fixed;
  background-color: white;
}
.header-inner {
display: flex;
justify-content: space-between;
width: 100%;
padding: 26px 24px 0px 24px;
}
.scoroll_down {
  position: absolute;
width: 200px;
height: 21px;
left: 180px;
bottom: -50px;
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
}
.globalNav{
  width: 400px;
  height: 50px;
}
.nav-items{
  width: 88%;
  height: 100%;
  margin:0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav-item{
  padding-top:15px;
  font-style: normal;
  font-family: 'Noto Sans JP';
  color: #666666;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
}
.nav-item-sns{
position: relative;

}
.nav-item-sns img{
  width: 36px;
  position: absolute;
  width: 30px;
  top: 25%;
  left: 22%;
}
.nav-item-sns a{
  position:relative;
  display: block;
  width: 50px;
  height: 48px;
  border: 1px solid #eee;
  border-radius: 75%;
}
.main{
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 1440px;
height: 680px;
margin-bottom: 150px;
}
.main-text,.main-viual{
  position: absolute;
}
.main-viual img{
  width: 976px;
  height: 680px;
  z-index: 2;
  margin-left: 540px;
  border-radius: 80px 0px 0px 80px;
  margin-top: 80px;
}
.main-text{
  background-color: #EFF2F5;
  width: 500px;
height: 281px;
margin-top: 198px;
z-index: 4;
margin-right: 650px;
border-radius: 24px;
display: flex;
flex-direction: column;
}
.main-text a{
  font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 180%;
color: #0071BC;
margin-top: 40px;
}
.main-text p{
  font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 80px;
letter-spacing: 0.05em;
color: #333333;
left: 142px;
top: 279px;
margin-top: 12px;
}
.about-title h1{
  font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 150%;
}
.about-title a{
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 180%;
color: #0071BC;
}
.colum{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 140px;
  margin-top: 40px;
}

.colum img{
  width: 472px;
height: 312px;
border-radius: 24px;
}
.colum-item{
  display: flex;
  align-self: center;
  margin-left: 20px;
}
.colum-item h1{
  font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 180%;
}

.line{
  background-image: url(./assets-ph1-website/img/bg-line.jpg);
  background-size:100% ;
  width: 984px;
  height: 358px;
  margin: 0 auto;
  border-radius: 48px;
  margin-top: 140px;
}

.line-inner{
  width: 984px;
  height: 358px;
  margin: 0 auto;
  background-size:100% ;
  border-radius: 48px;
  background: #0071BC;
  opacity: 0.9;
  z-index: 0;
}



.line-title{
  display: flex;
  justify-content:center;
  align-items: center;
  padding-top: 68px;
}
.line-title img{
  width: 40px;
}
.line-icon{
  background:radial-gradient(#FFFFFF 60%, rgba(248, 249, 249, 0) 40%);
}
.line-body{
  padding-top: 28px;
  font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 14px;
color: #FFFFFF;
padding-bottom: 28px;

}
.line-title h1{
font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 36px;
margin-left: 8px;
color: #FFFFFF;

}
.line-link {
  display: block;
  width: 320px;
  height: 50px;
  padding-top: 24px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 98px;
  color: #666666;
}

.footer{
 width: 100vw;
 border: 1px solid #EEEEEE;
 
}
.footer-border{
  border-bottom: 1px solid #EEEEEE;
}
.footer-inner{
  margin: 0 auto;
  width: 25%;
 margin-bottom: 48px;
}
.footer-logo{
  margin-top:56px;
  text-align: center;
}
.footer-link{
  margin-top: 24px;
  text-align: center;
}
.footer-sns{
  text-align: center;
}
.footer-items{
  display: flex;
  justify-content: center;
}
.footer-item{
  height: 50px;
  border: 1px solid #eee;
  border-radius: 75%;
  margin-right: 13px;
  margin-top: 32px;
}
.footer-item img{
 padding: 15px;

}
.copyright{
  margin-top: 84px;
  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 13px;
text-align: center;
letter-spacing: 0.1em;
color: #666666;
margin-bottom: 32px;
}
.my-color{
  color:#666666;
  -webkit-text-stroke: 1px white;
}
.top_banner{
width: 288px;
height: 80px;
right: 16px;
bottom: 16px;
position: fixed;
background: #5FDF5B;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
border-radius: 16px;
display: flex;
justify-content: center;
z-index: 60;
}
.banner_icon{
  margin-top: 20px;
  height:30px;
  width: 30px;
  background-color: #EEEEEE;
  border-radius: 20%;
  margin-right: 20px;
}
.top_banner img{
  position: absolute;
  width: 36px;
  height: 36px;
  left: 26px;
  top: 18px;
  background: url(LINE_Brand_icon);
}
.top_banner a{
  width: 142px;
height: 36px;
left: 73px;
top: 22px;
font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 130%;
letter-spacing: 0.14em;
color: #FFFFFF;
margin-top: 20px;
}
.banner_border{
  width: 40px;
height: 30px;
}
.banner_link{
  left: 0%;
right: 8.7%;
top: 8.7%;
bottom: 0%;
border: 2px solid #FFFFFF;
width: 16px;
height: 16px;
margin-top: 25px;
margin-left: 15px;
list-style: none;
border-top: 0px;
border-right: 0px;
}
.banner_link_items{
  left: 0%;
  right: 8.7%;
  top: 8.7%;
  bottom: 0%;
  border: 2px solid #FFFFFF;
  width: 10px;
  height: 16px;
  margin-top: 25px;
  list-style: none;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  }
  .banner_link_item{
    left: 0%;
    right: 8.7%;
    top:8.7%;
    bottom: 0%;
    border: 2px solid #FFFFFF;
    width: 16px;
    height: 10px;
    list-style: none;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    transform: translateY(-100%);
  }
.banner_link_small{
left: 52.17%;
right:0%;
top: 0%;
bottom: 0%;
z-index: 5;
border: 2px solid #FFFFFF;
height: 7px;
border-left: 0em;
border-bottom: 0em;
transform: translate(300%,-230%);
width: 7px;
list-style: none;
}
.banner_link_small_inner{
  left: 52.17%;
right:0%;
top: 0%;
bottom: 0%;
border: 2px solid #FFFFFF;
border-left: 0em;
border-bottom: 0em;
border-right: 0rem;
width: 7px;
height: 7px;
transform: rotate(-45deg)translate(600%,26%);
z-index: 8;
list-style: none;
}
.hamburger-content{
  display: none;
}

.hamburger{
  height: 30px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}
.hamburger span{
  display: block;
  width:100%;
  height: 2px;
  background-color: black;
  transition: all 0.5s;
}
.js-hamburger-top{
  transform: rotate(45deg) translateY(20px);
}
.js-hamburger-bottom{
  transform: rotate(-45deg) translateY(-20px);
}
.sidebar-content{
  position: absolute;
  right: -200%;
  top: 0;
  z-index: 0;
}
@media (max-width:375px) {
  .hamburger{
    display: flex;
    margin-right: 40px;
  }
  .globalNav{
    display: none;
  }


  /* main */
  .main{
    width: 375px;
    height: 400px;
  }
  .main-text{
    margin-right: 0px;
    width: 343px;
    height: 110px;
    border-radius: 20px;
    margin-top: 320px;
  }
  .main-text a{
    font-size: 12px;
    margin-top: 20px;
  }
  .main-text p{
    font-size: 28px;
    margin-top: 0px;

  }
  .main-text br{
    display: none;
  }
  .main-viual img{
    width: 375px;
    height: 275px;
    border-radius: 0%;
    margin-left: 0px;
  }
  .scoroll_down{
    display: none;
  }
  .colum{
    display: block;
  }
  .colum img{
    width: 343px;
    height: 275px;
    margin-bottom: 16px;
  }
  .colum-item br{
    display: none;
  }
  .about-title h1{
    margin-top: 0px;
    font-size: 24px;
  }
  .line-inner{
    position: absolute;
    width: 343px;
    height: 400px;

  }
  .line{
    width: 343px;
    height: 372px;

  }
  .line-title{
    display: block;
  }
  .line-title h1{
    margin-top: 20px;
  }
  .line-icon{
    width: 40px;
    margin-left: 150px;
    margin-top: 20px;
  }
  .line-link{
    padding-top: 15px;

  }
  .top_banner{
    right: 0;
    width: 100%;
    height: 60px;


  }
  .banner_icon img{
    margin-left: 43px;
  }
  .footer-item{
    margin-right: 0;
    border-radius: 50%;
    height: 45px;
    padding-right: 6px;
  }
  .footer-link{
  width: 170%;
  }
}
.js-main{
  display: none;
}
.item-list{
  display: none;
}
.js-hamburger-content{
  display: block;
  height: 0px;
  margin-top: 78px;
}
.js-content-item{
  margin-top: 24px;
  display: block;
  font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 180%;
color: #666666;
text-decoration: none;
}
.js-footer{
  padding-top: 500px;
}
.js-copyright{
  display: none;
}
.js-banner{
  margin-bottom: 220px;
  border-radius:30px ;
}
.js-footer-logo{
  display: none;
}