@use "../global/variables" as v;
@use "../global/mixin" as m;

body {
  height: 64px;
  width: 100%;
  overflow: hidden;
  background-color: v.$background-color;

  @include m.mobile{
    height: auto;
    overflow: auto;
  }
}


.label__title{
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

.label{
  display: inline-block;
}


.checkbox{
  display: inline-block;
  margin-top: 15px;
  padding: 7px 7px ;
}

.twitter{
  border: none;
  outline: none;
  background: v.$background-color;
  width: 300px;

}

.time__text{
  border: none;
  outline: none;
  background: v.$background-color;
  padding: 20px 90px;


  @include m.mobile{
    padding: 5% 20%;
  }
}

.finish{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.mark{
  margin: 0 auto;
  background: #bde360;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}
.check__mark{
  position: absolute;
  top: 20%;
  left: 10%;
  content: '';
  width: 40px;
  height: 21px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}

.awesome{
  color: #bde360;
}


.responsive__button{
  display: none;


  @include m.mobile{
    display: block;
    margin: 0 auto;
  }
}